* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

:root {
  /* --bgc-trans: rgba(256, 256, 256, 0.2);
  --font-main: white;
  --font-active: rgb(255, 251, 233);
  --font-trans-black: rgba(0, 0, 0, 0.2);
  --font-trans-white: rgba(256, 256, 256, 0.8); */
  
  --color1: white;
  --color1-02: rgba(256, 256, 256, 0.2);
  --color1-04: rgba(256, 256, 256, 0.4);
  --color1-05: rgba(256, 256, 256, 0.5);
  --color1-06: rgba(256, 256, 256, 0.6);
  --color1-08: rgba(256, 256, 256, 0.8);

  --color2: black;
  --color2-01: rgba(0, 0, 0, 0.1);
  --color2-02: rgba(0, 0, 0, 0.2);
  --color2-04: rgba(0, 0, 0, 0.4);
  --color2-05: rgba(0, 0, 0, 0.5);
  --color2-06: rgba(0, 0, 0, 0.6);

  --color3: rgb(185, 174, 171);
  --color4: rgb(253, 238, 188);
}

/* Custom scrollbar: */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color1-02); 
  border-radius: 6px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--color2-02); 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color2-06); 
}

::-webkit-scrollbar-corner {
  background: var(--color1-02); 
}
