.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  font-size: 16px;
  font-weight: 200; 
  list-style-type: none;
}

.nav-item-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-item {
  width: 100%;
  height: 45px;
  line-height: 45px;
  transition: all 0.2s ease 0s;
}

.nav-item i {
  margin: 5px 10px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
  border: none;
  background-color: var(--color2-01);
  font-size: 14px;
  transition: all 0.2s ease 0s;
  color: var(--color2-05);
  outline: none;
}

.nav-item a {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  text-decoration: none;
  color: var(--color2-06);
  transition: all 0.2s ease 0s;
}

.nav-item:hover {
  background-color: var(--color2-01);
}

.nav-item:hover i {
  background-color: transparent;
}

.nav-item .active, .nav-item .active i {
  font-weight: 600;
}

.nav-item .active i {
  color: var(--color4);
  text-shadow: 0px 0px 10px var(--color4);
}

.nav-item-btn {
  margin-bottom: 10px;
  width: 100%;
}

.nav-item-btn a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: calc(100% - 30px);
  height: 35px;
  line-height: 35px;
  margin: 15px;
  margin-top: 0;
  padding: 0 10px;
  border: 1px solid var(--color2-02);
  color: var(--color2-06);
  border-radius: 35px;
  transition: all 0.2s ease 0s;
}

.nav-item-btn a:hover {
  background-color: var(--color2-01);
  color: var(--color4);
  border: 1px solid transparent;
  text-shadow: 0px 0px 10px var(--color4);
}

.nav-item-btn a.active {
  background-color: var(--color2-01);
  color: var(--color4);
  text-shadow: 0px 0px 10px var(--color4);
  border: 1px solid transparent;
}

.nav-item-btn i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 0;
  font-size: 13px;
}