@keyframes opacity {
  0% {opacity: 0}
  100% {opacity: 1}
}

.form-input-error-msg {
  padding: 0 5px;
  color: var(--color5);
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  animation: opacity 500ms;
}