@keyframes opacity {
  0% {opacity: 0}
  100% {opacity: 1}
}

.notifications-container {
  z-index: 1;
  position: absolute;
  bottom: -400px;
  right: 0;
  width: 300px;
  height: 400px;
  padding: 10px 5px;
  background-color: var(--color1);
  box-shadow: 0px 8px 15px var(--color2-02);
  border-radius: 7px;
  color: var(--color2-05);
  animation-name: opacity;
  animation-duration: 500ms;
}

.notifications-container:hover {
  text-shadow: none;
}

.notifications-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  font-weight: 600;
  color: var(--color2-06);
  padding: 5px 5px 10px 5px;
  border-bottom: 0.5px solid var(--color2-02);
}

.notifications-header-counter {
  margin-left: 15px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: var(--color1);
  background-color: var(--color2-05);
}

.notifications-content {
  height: calc(100% - 30px);
  overflow: auto;
}

.notification-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 0.5px solid var(--color2-02);
  transition: all 0.3s ease 0s;
  padding: 5px;
  cursor: pointer;
}

.notification-item:hover{
  background-color: var(--color2-01);
}

.notification-message {
  width: 80%;
  display: flex;
  align-content: center;
}

.notification-date {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.notification-icon {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
}