@keyframes opacity {
  0% {opacity: 0}
  100% {opacity: 1}
}

.settings-container {
  z-index: 1;
  position: absolute;
  bottom: -400px;
  right: 0;
  width: 300px;
  height: 400px;
  padding: 10px 5px;
  background-color: var(--color1);
  box-shadow: 0px 8px 15px var(--color2-02);
  border-radius: 7px;
  color: var(--color2-08);
  animation-name: opacity;
  animation-duration: 500ms;
}

.settings-container:hover {
  text-shadow: none;
}

.settings-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  font-weight: 600;
  color: var(--color2-06);
  padding: 5px 5px 10px 5px;
  border-bottom: 0.5px solid var(--color2-02);
}

.settings-content {
  height: calc(100% - 30px);
  overflow: auto;
  padding: 10px 5px;
}

.settings-content-themes-container {
  margin-top: 15px;
}

.settings-content-theme {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}

.settings-content-theme-color {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
  transition: all 0.3s ease 0s;
}

.settings-content-theme:hover > .settings-content-theme-color { 
  box-shadow: 0px 8px 15px var(--color2-02);
  transform: scale(1.2) translate(20%, 5%);
}

.settings-content-theme-name {
  transition: all 0.3s ease 0s;
}