.tools-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pager {
  width: 180px;
}

.emails-table-container {
 width: 100%;
 height: calc(100% - 75px);
 color: var(--color2-08);
 overflow: auto;
}

.emails-table-row > a {
  display: flex;
  cursor: pointer;
  background-color: var(--color1-05);
  margin: 4px 4px 0 0;
  border-radius: 4px;
  color: var(--color2-08);
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.emails-table {
  height: 50px;
  font-size: 13px;
  overflow: hidden;
}

.emails-table-row {
  position: relative;
}

.emails-table-row > a:hover {
  background-color: var(--color1-02);
}

.emails-table-header {
  display: flex;
  height: 40px;
  width: 100%;
  color: var(--color2-08);
  font-size: 14px;
  font-weight: 600;
}

.emails-table-cell, 
.emails-table-cell * {
  min-width: 0;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}


.emails-table-header-from,
.emails-table-from {
  width: 20%;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.emails-table-header-title,
.emails-table-title {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.emails-table-header-content,
.emails-table-content {
  width: 25%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.emails-table-header-date,
.emails-table-date {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.emails-table-tools {
  display: none;
  position: absolute;
  top: 0;
  right: 80px;
  justify-content: center;
  align-items: center;
}

.emails-table-row:hover > .emails-table-tools {
  display: flex;
  transition: all 0.3s ease 0s;
}

