.tools-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pager {
  width: 180px;
}

.emails-table-container {
 /* position: relative; */
 width: 100%;
 height: calc(100% - 75px);
 color: var(--color2-05);
 overflow: auto;
}

.emails-table-container a {
  text-decoration: none;
}

.emails-table {
  height: 50px;
  font-size: 13px;
}

.emails-table-row {
  display: flex;
  cursor: pointer;
  background-color: var(--color1-05);
  margin: 4px 4px 0 0;
  border-radius: 4px;
  color: var(--color2-05);
  transition: all 0.3s ease 0s;
}

.emails-table-row:hover {
  background-color: var(--color1-02);
}

.emails-table-header {
  display: flex;
  height: 40px;
  width: 100%;
  color: var(--color2-05);
  font-size: 14px;
  font-weight: 600;
}

.emails-table-cell, 
.emails-table-cell *
{
  min-width: 0;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}


.emails-table-header-from,
.emails-table-from {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

}

.emails-table-from-adress {
  font-size: 11px;
}

.emails-table-header-title,
.emails-table-title {
  width: 25%;
  line-height: 20px;
  padding: 10px;
}

.emails-table-header-content,
.emails-table-content {
  width: 35%;
  line-height: 20px;
  padding: 10px;
}

.emails-table-header-date,
.emails-table-date {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

