.email-compose-container {
  height: 100%;
  color: var(--color2-08);
  border-radius: 7px;
  font-size: 12px;
}

.email-compose-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.email-compose-form-header {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.email-compose-form-header input {
  margin-bottom: 5px;
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  background-color: var(--color2-01);
  color: var(--color2-08);
  border-radius: 7px;
  transition: all 0.3s ease 0s;
}

.email-compose-form-header input:focus {
  background-color: var(--color1-08);
}

.email-compose-form-content {
  flex-grow: 1;
  margin: 5px 0;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color1-08);
  color: var(--color2-06);
  border-radius: 7px;
}

.tox-tinymce {
  width: 100%;
  height: 100% !important;
  border: none !important;
  border-radius: 7px !important;
  background-color: transparent!important;
}

.tox-editor-container {
  background-color: transparent!important;
}

.email-compose-form-editor {
  width: 100%;
  height: 100%;
}

.email-compose-form-buttons {
  display: flex;
  justify-content: space-between;
  width: 380px;
  padding: 10px 0 0 0;
}