* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  height: 100%;
}

:root {
  /* --bgc-trans: rgba(256, 256, 256, 0.2);
  --font-main: white;
  --font-active: rgb(255, 251, 233);
  --font-trans-black: rgba(0, 0, 0, 0.2);
  --font-trans-white: rgba(256, 256, 256, 0.8); */
  
  --color1: white;
  --color1-02: rgba(256, 256, 256, 0.2);
  --color1-04: rgba(256, 256, 256, 0.4);
  --color1-05: rgba(256, 256, 256, 0.5);
  --color1-06: rgba(256, 256, 256, 0.6);
  --color1-08: rgba(256, 256, 256, 0.8);

  --color2: black;
  --color2-01: rgba(0, 0, 0, 0.1);
  --color2-02: rgba(0, 0, 0, 0.2);
  --color2-04: rgba(0, 0, 0, 0.4);
  --color2-05: rgba(0, 0, 0, 0.5);
  --color2-06: rgba(0, 0, 0, 0.6);

  --color3: rgba(250, 249, 170, 0.76);
}

/* Custom scrollbar: */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color1-02); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color2-02); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color2-06); 
}
