.menubar {
  position: relative;
  z-index: 10;
  background-color: var(--bgc-element);
}

.menu-container {
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 100%;
  padding: 0;
  font-size: 40px;
  margin: 0;
}

.menu-item {
  margin: 20px  0;
}

.menu-item i {
  color: var(--font-nav-nonactive);
  transition: .2s;
}

.menu-item .active i {
  color: var(--font-nav-active);
}