.tools-container {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.pager {
  width: 180px;
}

.emails-table {
 width: 100%;
 color: var(--color2-05);
}

.emails-table-header {
 color: var(--color2-05);
 font-size: 14px;
 text-align: left;
}

/* .emails-table-header:last-of-type {
  text-align: right;
} */

.emails-table-td {
  height: 20px;
  line-height: 20px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.emails-table-row {
 cursor: pointer;
}

.emails-table-sender {
 width: 20%;
}

.emails-table-title {
 width: 30%;
}

.emails-table-body {
 width: 30%;
}

.emails-table-date {
 width: 20%;
 text-align: right;
}