.addressbook-table-container {
  /* position: relative; */
  width: 100%;
  height: 90%;
  color: var(--color2-05);
  overflow: auto;
}

.addressbook-table-header {
  display: flex;
  padding-left: 62px;
  height: 40px;
}

.addressbook-table-header-item {
  font-weight: 600;
  padding: 10px 4px;
}

.addressbook-table-header-name, .addressbook-table-name {
  width: 30%;
}

.addressbook-table-header-email, .addressbook-table-email{
  width: 30%;
}

.addressbook-table-header-phone, .addressbook-table-phone {
  width: 15%;
}

.addressbook-table-checkbox {
  width: 31px;
  
}

.addressbook-table-favourite {
  width: 31px;
  
}

.addressbook-table-container a {
  text-decoration: none;
}

.addressbook-table-row {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
  background-color: var(--color1-05);
  margin: 4px 4px 0 0;
  border-radius: 4px;
  color: var(--color2-05);
  transition: all 0.3s ease 0s;
}

.addressbook-table-row:hover {
  background-color: var(--color1-02);
}

.addressbook-table-row a {
  display: flex;
  flex-grow: 0;
  width: calc(100% - 62px);
  color: var(--color2-05);
}

.addressbook-table {
  display: flex;
  height: 50px;
  font-size: 13px;
  padding: 8px 4px;
  
}

.addressbook-table-cell {
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
  line-height: 34px;
}

.addressbook-table-tools {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.addressbook-table-row:hover > .addressbook-table-tools {
  display: flex;
  transition: all 0.3s ease 0s;
}